body {
  background: orange;
}
/*Floating Back-To-Top Button*/
#myBtn {
  position: fixed;
  bottom: 10px;
  float: right;
  right: 18.5%;
  left: 77.25%;
  max-width: 30px;
  width: 100%;
  font-size: 12px;
  border-style: none;
  
  background-color: transparent;
  padding: .5px;


}
/*On Hover Color Change*/
#myBtn:hover {
  background-color: #F8F8F8;
}
